<div class="video-call" ng-controller="headerController as HSC">
  <div class="top-header">
    <img src="../images/header-logo.png" alt="">
  </div>
  <div class="top-header-right">
    <ul>
      <li>
        <a href="#" id="chat">
          <i class="fa fa-comments" aria-hidden="true"></i>
        </a>
      </li>
      <li>
        <a href="/note/create" id="notes">
          <i class="fa fa-pencil-square" aria-hidden="true"></i>
        </a>
      </li>
      <li>
        <a href="#" id="alert-msg">
          <i class="fa fa-bell-o" aria-hidden="true"></i>
        </a>
      </li>
      <li>
        <a href="#">
          <img src="../images/user-img.jpg" class="user-img" alt="">
        </a>
      </li>
    </ul>
  </div>
</div>
<!--video-call divion closed -->
<div class="left-side-bar">
  <ul>
    <li>
      <a href="">
        <i class="fa fa-file-text-o" aria-hidden="true"></i>
      </a>
    </li>
    <li>
      <a href="/task">
        <i class="fa fa-calendar" aria-hidden="true"></i>
      </a>
    </li>
    <li class="active">
      <a href="">
        <i class="fa fa-video-camera" aria-hidden="true"></i>
      </a>
    </li>
  </ul>
</div>
<div class="right-popup">
  <div class="chat-panel" style="display: none">
    <div class="user-container">
      <ul id="users">

      </ul>
    </div>
  </div>
  <div class="notes-panel" style="display: none"></div>
  <div class="alert-panel" style="display: none"></div>
  <div class="profile-edit text-center" style="display: none">
    <img src="../images/user-img.jpg" alt="">
    <div class="your-account">
      <a href="/profile">Your Account</a>
    </div>
    <div class="logout">
      <a href="#" id="logout">Logout</a>
    </div>
  </div>
</div>
