<div class="container container-top-margin">
  <div class="col-md-8 create-availability">
    <h1>Hi
      <span id="myname"></span>,</h1>
    <h4>Get started by scheduling a session:</h4>
    <form>
      <div class="form-group margin-top-feild">
        <label class="txt-label col-sm-12 avaiblability-txt">Conflict name
          <sup>*</sup>
        </label>
        <div class="col-sm-12 padding-zero">
          <input type="text" placeholder="Conflict Name" id="Conflictname" class="birthdate">
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="form-group margin-top-feild">
        <label class="txt-label col-sm-12 avaiblability-txt">Availability
          <sup>*</sup>
        </label>
        <div class='col-md-4'>
          <div class="form-group">
            <div class='input-group date' id='datestart'>
              <input type='text' class="form-control" />
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
          </div>
        </div>
        <div class='col-md-4'>
          <div class="form-group">
            <div class='input-group date' id='dateend'>
              <input type='text' class="form-control" />
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
          </div>
        </div>
        <div class='col-md-4'>
          <div class="form-group">
            <div class='input-group date' id='datetime'>
              <input type='text' class="form-control" />
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
          </div>
        </div>

      </div>
      <div class="clearfix"></div>
      <!-- <div class="Add-availability">
                            <p>Add another available time
                                <a href="#">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                </a>
                            </p>
                        </div> -->
      <div class="clearfix"></div>
      <div class="form-group margin-top-feild">
        <label class="txt-label col-sm-12 avaiblability-txt">Availability
          <sup>*</sup>
        </label>
        <div class="col-sm-12 padding-zero">
          <select name="" id="availability" class="birthdate" multiple="true">
            <option value="">Select Availability</option>
          </select>
        </div>
      </div>

      <div class="clearfix"></div>
      <div class="form-group margin-top-feild">
        <label class="txt-label col-sm-12 avaiblability-txt">Describe the conflict
          <sup>*</sup>
        </label>
        <div class="col-sm-12 padding-zero">
          <textarea id="description"></textarea>
        </div>
      </div>
      <p id="errMsg"></p>
      <div class="clearfix"></div>
      <div class="form-group margin-top-feild">
        <div class="col-sm-offset-8 col-sm-4 padding-zero text-right">
          <button class="btn btn-default login-btn" id="addSchedule">SUBMIT</button>
        </div>
      </div>
      <div class="clearfix"></div>
      <p class="txt-password">Brav respects and protects your privacy. View full privacy policy
        <a href="">here</a>.</p>
    </form>
  </div>
</div>
