<div class="container container-top-margin">
  <div class="col-md-8 create-availability">
    <h1>thanks {{SSC.firstname}} {{SSC.middlename}} {{SSC.lastname}},</h1>
    <h4>Thank you for your request we will notify you when a session succfessfully scheduled!</h4>
    <div class="clearfix"></div>
    <div class="col-md-3 padding-zero">
      <a href="/task">
        <button type="submit" class="btn btn-default login-btn check-schedule">CHECK SCHEDULE</button>
      </a>
    </div>
  </div>
</div>
