<div class="container container-top-margin">
  <div class="col-md-12 create-availability">
    <h1>My Account</h1>
    <div class="col-sm-2 padding-zero user-account">
      <img src="images/user-img.jpg" alt="">
    </div>
    <div class="col-sm-10 user-data">
      <div id="myname"></div>
      <div id="username">@evielliu</div>
      <div>Brav Client</div>
    </div>
    <div class="clearfix"></div>

    <div class="usre-data-heading padding-zero" style="border:none">
      <div class="col-sm-3 padding-zero">
        <p class="contact">CONTACT</p>
      </div>
      <div class="col-sm-3">
        <p class="email-txt">Email</p>
      </div>
      <div class="col-sm-6">
        <p class="emailid" id="emailid">evie.l.liu@gmail.com</p>
      </div>
      <div class="clearfix"></div>
      <div class="col-sm-3 padding-zero">
        <p class="contact"></p>
      </div>
      <div class="col-sm-3">
        <p class="email-txt">Phone</p>
      </div>
      <div class="col-sm-6">
        <p class="emailid">408-728-3047</p>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="usre-data-heading padding-zero">
      <div class="col-sm-3 padding-zero">
        <p class="contact">BASIC INFORMATION</p>
      </div>
      <div class="col-sm-3">
        <p class="email-txt">Location</p>
      </div>
      <div class="col-sm-6">
        <p class="emailid">Berkeley, California</p>
      </div>
      <div class="clearfix"></div>
      <div class="col-sm-3 padding-zero">
        <p class="contact"></p>
      </div>
      <div class="col-sm-3">
        <p class="email-txt">Time Zone</p>
      </div>
      <div class="col-sm-6">
        <p class="emailid">Pacific Standard Time, PST</p>
      </div>
      <div class="clearfix"></div>
      <div class="col-sm-3 padding-zero">
        <p class="contact"></p>
      </div>
      <div class="col-sm-3">
        <p class="email-txt">Gender</p>
      </div>
      <div class="col-sm-6">
        <p class="emailid">Female</p>
      </div>
    </div>

    <div class="usre-data-heading padding-zero" style="margin:40px 0px;">
      <div class="col-sm-3 padding-zero">
        <p class="contact">MEMBERSHIP AND BILLING</p>
      </div>
      <div class="col-sm-3">
        <p class="email-txt">Pay as you go</p>
      </div>
      <div class="col-sm-6 text-right">
        <p class="emailid blue-color">edit subscription type</p>
      </div>
      <div class="clearfix"></div>
      <div class="col-sm-3 padding-zero">
        <p class="contact"></p>
      </div>
      <div class="col-sm-3">
        <p class="email-txt">Mastercard **** ****** 4567</p>
      </div>
      <div class="col-sm-6 text-right">
        <p class="emailid blue-color">update payment method</p>
      </div>
      <div class="clearfix"></div>
      <div class="col-md-3 padding-zero margin-bottom">
        <button type="submit" class="btn btn-default login-btn check-schedule">CANCEL MEMBERSHIP</button>
      </div>
    </div>



    <div class="clearfix"></div>

  </div>
</div>
